{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sports App{% endblock %}</title>
    <!-- Vincular el archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Botón Flotante para Activar el Menú -->
    <button class="menu-button-floating" id="menuButton">☰</button>

    <!-- Menú de Pantalla Completa -->
    <div class="menu-overlay" id="menuOverlay">
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'results' %}">Resultados</a></li>
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a href="{% url 'register' %}">Registrarse</a></li>
        </ul>
    </div>

    <!-- Contenido Principal -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Vincular el archivo JavaScript externo -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>